# .env.sample - Sample Environment Variables for Client (Vite)

# Server API URL (call it in React with import.meta.env.VITE_API_URL)
VITE_API_URL=
VITE_API_KEY=3f32853f2bfa4951833c20b475475ea6

# Other Environment Variables (if needed)
# VITE_OTHER_VARIABLE=value
