* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerTop {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
}

.homemenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.homemenu > p {
  color: #fff;
}

.home_content {
  display: flex;
  flex-direction: column;
}

.listejeuxmeta {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding-top: 4rem;
  overflow-y: auto;
  height: 60rem;
}

.listejeuxmeta::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 980px) {
  .containerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .listejeuxmeta {
    display: none;
  }
}
