* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: -webkit-linear-gradient(180deg, #0b1825, #0d243b, #10355a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #0b1825, #0d243b, #10355a);
}

.centralPage {
  width: 100%;
  display: flex;
}
