* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerCard {
  width: 16svw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgNews {
  width: 16svw;
  height: 20svh;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
  box-shadow: 0 0 20px 2px black;
}

.containerI {
  width: 16svw;
  height: 20svh;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0 0 3% 3%;
  box-shadow: 0 0 20px 2px black;
  margin-bottom: 1rem;
}

.newGamesPlatforms {
  font-size: 1rem;
  color: var(--font-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: 0.8rem;
  color: var(--font-color);
  text-align: center;
  padding: 0.8rem 0rem 0rem 0rem;
}

.released {
  font-size: 0.7rem;
  color: var(--font-color);
  text-align: center;
  font-style: italic;
  margin: 0 0 0.6rem 0;
}

.newGamesBuy {
  background-color: white;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 50%;
}

.newGamesBuy:hover {
  background-color: #f31a1a;
  border-color: #bbb;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
  color: white;
}

.newGamesBuy:active {
  transform: scale(0.98);
}

.newGamesText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .containerCard {
    display: flex;
    flex-direction: column;
    width: 15rem;
  }

  .imgNews {
    object-fit: cover;
    width: 15rem;
  }

  .containerI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    margin-bottom: 3rem;
  }
  .newGamesBuy {
    width: 12rem;
  }
}
