.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogue {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
