.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetitle {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 2rem;
  color: hsla(0, 0%, 100%, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
