* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards-container {
  display: flex;
  justify-content: center;
  background-color: var(--root-background-color);
  color: var(--font-color);
}

.card {
  display: flex;
  align-items: center;
}

.image_content {
  object-fit: cover;
  max-width: 190px;
  max-height: 150px;
}

.card_image {
  border: 1px solid var(--border-color);
  max-width: 100%;
  min-width: 100%;
  height: 150px;
  min-height: 150px;
  object-fit: cover;
}

@media screen and (max-width: 990px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .image_content {
    display: flex;
    object-fit: cover;
  }
}
