/* import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  justify-content: space-between;
}

.logo_title {
  display: flex;
  align-items: center;
}

.logoHeader {
  height: 5rem;
}
input {
  background-color: #2d4155;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 1rem;
  width: 15rem;
}

button[type="submit"] {
  background-color: #2d4155;
  color: rgba(255, 255, 255, 0.918);
  border: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin-right: 10rem;
  color: var(--font-color);
  opacity: 0.93;
}
.loupe {
  display: none;
}

h1 a {
  color: white;
  opacity: 0.93;
}

.search {
  margin-right: 15rem;
}

.search_switch {
  display: flex;
  flex-direction: row;
}

.switch {
  display: flex;
  align-items: center;
  margin-top: 1.7rem;
  margin-right: 2rem;
}

@media screen and (max-width: 980px) {
  header {
    display: flex;
    position: fixed;
    align-items: center;
    align-content: flex-start;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #0b1825;
    height: 5rem;
  }
  .logo_title {
    display: flex;
    justify-content: space-between;
  }

  .logoHeader {
    gap: -2rem;
  }

  .h1 {
    display: flex;
  }

  .menuburger {
    display: block;
    margin-bottom: 3rem;
  }

  .loupe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .logoHeader {
    margin-left: 5rem;
  }
  .search {
    display: none;
  }
  .switch {
    display: none;
  }
}
