/* import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(16, 29, 43);
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem;
}

.logoHeader {
  height: 5rem;
}
input {
  background-color: #2d4155;
  color: rgba(255, 255, 255, 0.918);
  border: none;
  padding: 0.5rem 5rem;
  border-radius: 30px;
  margin: 1rem;
}

button[type="submit"] {
  background-color: #2d4155;
  color: rgba(255, 255, 255, 0.918);
  border: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #ffffff;
  opacity: 0.93;
  margin-right: 10rem;
}

@media screen and (max-width: 980px) {
  .logoHeader {
    margin-left: 5rem;
  }
  .search {
    display: none;
  }
}
