.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid hsl(0, 0%, 0%, 0.3);
  background-color: var(--card-color);
  border-radius: 2.5px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  max-width: 16rem;
  min-width: 16rem;
  max-height: 20rem;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  border: 1px solid hsl(0, 0%, 0%, 0.3);
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  overflow: hidden;
}

.card-title {
  font-size: .75rem;
  margin: 10px 0;
  color: var(--font-color);
}

.card-platform {
  color: var(--font-color);
  font-size: 0.6rem;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

button {
  align-items: center;
  background-color: var(--button-color);
  border: var(--border-color);
  border-radius: 6px;
  color: #333333;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* ALL */
.buttonAll:hover {
  background-color: #f8f2d4;
  color: #d32f2f;
  border-color: #9b850a;
}

.buttonAll:active {
  background-color: #faf6e2;
  color: #b71c1c;
  transform: scale(0.95);
}

/* PC */
.buttonPC:hover {
  background-color: #d4d4d4;
  border-color: #737373;
}

.buttonPC:active {
  background-color: #d4d4d4;
  color: #b71c1c;
  transform: scale(0.95);
}

/* PlayStation */
.buttonPlayStation:hover {
  background-color: #bcc7fc;
  color: white;
  border-color: #5271ff;
}

.buttonPlayStation:active {
  background-color: #bcc7fc;
  color: #b71c1c;
  transform: scale(0.95);
}

/* Xbox */
.buttonXbox:hover {
  background-color: #c5ffe2;
  color: white;
  border-color: #00bf63;
}

.buttonXbox:active {
  background-color: #c5ffe2;
  color: #b71c1c;
  transform: scale(0.95);
}

/* Switch */
.buttonSwitch:hover {
  background-color: #ffdada;
  color: white;
  border-color: #ff5757;
}

.buttonSwitch:active {
  background-color: #ffdada;
  color: #b71c1c;
  transform: scale(0.95);
}

.button:hover {
  background-color: #ffe6e6;
  color: #d32f2f;
  border-color: #d32f2f;
}

.button:active {
  background-color: #f8d7da;
  color: #b71c1c;
  transform: scale(0.95);
}

button .textAll {
  font-size: 13px;
  font-weight: 500;
  color: #9b850a;
}

button .textPC {
  font-size: 13px;
  font-weight: 500;
  color: #737373;
}

button .textPlayStation {
  font-size: 13px;
  font-weight: 500;
  color: #5271ff;
}

button .textXbox {
  font-size: 13px;
  font-weight: 500;
  color: #00bf63;
}

button .textSwitch {
  font-size: 13px;
  font-weight: 500;
  color: #ff5757;
}

.loader {
  --color: #a5a5b0;
  --size: 70px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.loader span {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  animation: keyframes-blink 0.6s alternate infinite linear;
}

.loader span:nth-child(1) {
  animation-delay: 0ms;
}

.loader span:nth-child(2) {
  animation-delay: 200ms;
}

.loader span:nth-child(3) {
  animation-delay: 300ms;
}

.loader span:nth-child(4) {
  animation-delay: 400ms;
}

.loader span:nth-child(5) {
  animation-delay: 500ms;
}

.loader span:nth-child(6) {
  animation-delay: 600ms;
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.3;
    transform: scale(0.5) rotate(5deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.catalogue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
