.hamburger {
  cursor: pointer;
  position: absolute;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
.menu {
  display: flex;
  position: fixed;
  border-radius: 0 0 20px 0;
  background-color: black;
  transition: 1s ease;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  gap: 1rem;
}

@media screen and (min-width: 980px) {
  .hamburger {
    display: none;
  }
}
